.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#5e5e5d;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap;
}

li a, .dropbtn {
    display: flex;
    color: #5e5e5d;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    color: #848b79;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #848b79;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .btn {
    background-color: #848b79;
    color: white;
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }
